.application-form {
  margin-bottom: 34px;
}
.application-form__title {
  font-family: 'Oswald', serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 60px;
  text-align: left;
  color: #111111;
  margin: 0;
  padding-top: 30px;
  padding-left: 22px;
}
.application-form__description {
  font-family: 'Oswald', serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  color: #111111;
  text-transform: uppercase;
  margin: 0;
  padding-top: 35px;
  padding-left: 20px;
}
.application-form__legend {
  font-family: 'Arial', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #444444;
  margin: 0;
}
