.application-form {
  width: 100%;
  margin-bottom: 32px;
}
.application-form__title {
  font-family: 'Oswald', "Arial", sans-serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 60px;
  text-align: left;
  color: #111111;
  margin: 0;
  padding-top: 14px;
  padding-left: 6.25%;
}
.application-form__description {
  font-family: 'Oswald', "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  color: #111111;
  text-transform: uppercase;
  margin: 0;
  width: 226px;
  padding-top: 25px;
  padding-left: 6.25%;
}
.application-form__legend {
  font-family: 'ArialMT', "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #444444;
  margin: 0;
}
@media (min-width: $tablet-width) {
  .application-form {
    box-sizing: border-box;
    margin-bottom: 72px;
  }
  .application-form__title {
    font-size: 60px;
    padding-top: 52px;
    padding-left: 3.8%;
  }
  .application-form__description {
    font-size: 20px;
    line-height: 30px;
    padding-top: 56px;
    padding-left: 9.1%;
    width: 50%;
  }
  .application-form__legend {
    font-size: 16px;
    line-height: 16px;
    text-align: left;
    margin-top: -7px;
  }
}
@media (min-width: $desktop-width) {
  .application-form {
    width: 1300px;
    margin: 0 auto;
    padding: 72px 40px 83px;
  }
  .application-form__title {
    padding: 0;
  }
  .application-form__description {
    padding-top: 56px;
    padding-left: 0;
    width: 346px;
  }
}
