.catalog {
  width: 100%;
}

.catalog__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 60px;
  margin-top: 10px;
  text-align: left;
  color: #111111;
  margin-left: 6.25%;
  margin-bottom: 28px;
}

.catalog__list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.catalog__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  padding: 10px 107px 11px 110px;
  background-color: #68b738;
  border: none;
  box-sizing: border-box;
  width: 100%;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .catalog {
    box-sizing: border-box;
    padding-left: 3.9%;
    padding-right: 3.9%;
    padding-bottom: 67px;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .catalog__item {
    margin-top: 140px;
  }

  .catalog__title {
    font-size: 60px;
    margin-left: 0;
    margin-bottom: 24px;
    margin-top: 53px;
  }

  .catalog__button {
    text-align: center;
    padding: 11px 93px 10px 95px;
    margin-bottom: 40px;
    width: 249px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    width: 1300px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 75px;
  }

  .catalog__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .catalog__title {
    margin-top: 72px;
    font-size: 60px;
    margin-left: 0;
    margin-bottom: 23px;
  }

  .catalog__button {
    text-align: center;
    width: 169px;
    padding: 10px 53px 10px 55px;
  }

  .catalog__item {
    margin-top: 142px;
  }
}
