.choose-program-field {
  box-sizing: border-box;
  height: 158px;
  width: 100%;
  padding: 21px 0 20px 6%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border: 1px solid #cdcdcd;
}
.choose-program-field__loose-weight,
.choose-program-field__weight-set,
.choose-program-field__advice {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.choose-program-field__loose-weight {
  padding-bottom: 13px;
}
.choose-program-field__weight-set {
  padding-bottom: 12px;
}
.choose-program-field__input {
  display: none;
}
.choose-program-field__check {
  display: inline-block;
  width: 28px;
  height: 28px;
  margin-right: 16px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
}
input[type="radio"]:checked + .choose-program-field__check::before {
  content: " ";
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #68b738;
  position: absolute;
  top: 9px;
  left: 9px;
}
@media (min-width: $tablet-width) {
  .choose-program-field {
    box-sizing: border-box;
    height: 196px;
    padding-top: 24px;
    padding-bottom: 25px;
    padding-left: 4.3%;
  }
  .choose-program-field__loose-weight,
  .choose-program-field__weight-set {
    padding-bottom: 13px;
  }
  .choose-program-field__check {
    width: 38px;
    height: 38px;
    margin-right: 20px;
  }
  input[type="radio"]:checked + .choose-program-field__check::before {
    height: 18px;
    width: 18px;
    top: 11px;
    left: 11px;
  }
}
@media (min-width: $desktop-width) {
  .choose-program-field {
    height: 146px;
    width: 542px;
    padding-left: 28px;
  }
}
