.footer-list {
  padding-left: 20px;
  padding-right: 20px;
  width: 280px;
  background-color: #f2f2f2;
  list-style: none;
  margin: 0;
}
.footer-list__item:first-of-type {
  border-bottom: 1px solid #cdcdcd;
  height: 94px;
}
.footer-list__item:nth-of-type(2) {
  height: 62px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding-left: 73px;
  padding-right: 82px;
}
.footer-list__item:last-of-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #cdcdcd;
  height: 78px;
}
.footer-list__logo-image {
  width: 128px;
  height: 24px;
  padding-top: 39px;
  padding-left: 76px;
}
.footer-list__vk-icon {
  width: 22px;
  height: 14px;
}
.footer-list__insta-icon {
  width: 16px;
  height: 18px;
  margin-right: 5px;
  margin-top: 4px;
}
.footer-list__fb-icon {
  width: 10px;
  height: 19px;
}
.footer-list__copyright {
  text-decoration: none;
  font-family: 'Arial', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  color: #444444;
}
.footer-list__html-academy-logo {
  margin-top: 6px;
  margin-right: -7px;
}
@media (min-width: $tablet-width) {
  .footer-list {
    padding-left: 31px;
    padding-right: 30px;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
  }
  .footer-list__item {
    height: 34px;
    width: 128px;
  }
  .footer-list__item:nth-of-type(2) {
    height: 34px;
    padding: 0;
  }
  .footer-list__item:first-of-type {
    border-bottom: none;
    height: 34px;
  }
  .footer-list__item:last-of-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: none;
    width: 162px;
  }
  .footer-list__vk-icon {
    width: 30px;
    height: 16px;
  }
  .footer-list__insta-icon {
    width: 23px;
    height: 23px;
    margin-top: 0;
  }
  .footer-list__fb-icon {
    width: 14px;
    height: 28px;
  }
  .footer-list__logo-image {
    padding: 0;
  }
}
@media (min-width: $desktop-width) {
  .footer-list {
    padding-left: 31px;
    padding-right: 30px;
    height: 150px;
  }
  .footer-list__item {
    height: 34px;
    width: 128px;
  }
}
