.footer-page {
  width: 320px;
}
.footer-page__contacts {
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 320px;
  min-height: 114px;
  &--main {
    background-color: #ffffff;
  }
}
.footer-page__partnership {
  font-family: 'Oswald', serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  color: #111111;
  text-transform: uppercase;
  margin: 0;
  padding-left: 20px;
}
.footer-page__address {
  font-family: 'Arial', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  color: #444444;
  margin: 0;
}
