.form {
  width: 100%;
}
.form__label {
  font-family: 'Oswald', serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color: #222222;
  text-transform: uppercase;
  margin: 0;
}
.form__title {
  font-family: 'Oswald', serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 1;
  text-align: left;
  color: #111111;
  margin: 0;
}
.form__button-wrap {
  margin-top: 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.form__button {
  font-family: 'Oswald', serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 17px;
  padding: 10px 77px 9px 80px;
  background-color: #68b738;
  border: none;
}
input[placeholder],
textarea[placeholder] {
  font-family: 'Oswald', serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}
@media (min-width: $tablet-width) {
  .form__title {
    font-size: 36px;
  }
  .form__button {
    font-size: 20px;
    margin: 0;
    padding: 17px 67px 15px 63px;
  }
  .form {
    width: 630px;
    margin-left: 71px;
  }
  .form__button-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 502px;
    margin-top: 54px;
  }
}
@media (min-width: $desktop-width) {
  .form__button {
    font-size: 20px;
    margin: 0;
    padding: 17px 206px 15px 209px;
  }
  .form {
    width: 1220px;
    margin-left: 110px;
  }
  .form__wrap {
    width: 1220px;
    margin-top: 69px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .form__button-wrap {
    width: 828px;
    margin-top: 61px;
  }
}
