.functionality {
  box-sizing: border-box;
  width: 320px;
  min-height: 447px;
  padding-left: 20px;
}
.functionality__title {
  font-family: 'Oswald', serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 60px;
  text-align: left;
  color: #111111;
}
.functionality__list {
  list-style: none;
  padding: 0;
  margin: 0;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}
.functionality__item {
  width: 275px;
  height: 60px;
  position: relative;
}
.functionality__description {
  font-family: 'ArialMT', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  color: #444444;
  padding-left: 80px;
  padding-top: 6px;
  margin: 0;
  &::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: #68b738;
  }
  &::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
  }
  &--leaf::after {
    background: url("../img/advantage-leaf@1x.png") no-repeat center;
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../img/advantage-leaf@2x.png" x2) no-repeat center;
    }
  }
  &--water::after {
    background: url("../img/advantage-powder@1x.png") no-repeat center;
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../img/advantage-powder@2x.png" x2) no-repeat center;
    }
  }
  &--fork::after {
    background: url("../img/advantage-dining@1x.png") no-repeat center;
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../img/advantage-dining@2x.png" x2) no-repeat center;
    }
  }
  &--watch::after {
    background: url("../img/advantage-clock@1x.png") no-repeat center;
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../img/advantage-clock@2x.png" x2) no-repeat center;
    }
  }
}
@media (min-width: $tablet-width) {
  .functionality {
    width: 768px;
    min-height: 729px;
    padding-left: 30px;
    border-bottom: 1px solid #cdcdcd;
  }
  .functionality__title {
    font-size: 60px;
    padding-left: 3px;
    margin-bottom: 66px;
  }
  .functionality__list {
    width: 100%;
    min-height: 598px;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
  }
  .functionality__item {
    width: 340px;
    min-height: 228px;
  }
  .functionality__item::before {
    font-family: 'Oswald', serif;
    font-weight: normal;
    font-size: 281px;
    line-height: 1;
    position: absolute;
    bottom: -10px;
    right: 100px;
    color: #f2f2f2;
    z-index: -1;
  }
  .functionality__item:first-child::before {
      content: "1";
  }
  .functionality__item:nth-child(2)::before {
      content: "2";
  }
  .functionality__item:nth-child(3)::before {
      content: "3";
  }
  .functionality__item:last-child::before {
      content: "4";
  }
  .functionality__description {
    font-size: 16px;
    line-height: 24px;
    padding-left: 0;
    padding-top: 117px;
    &::before {
      width: 80px;
      height: 80px;
    }
    &--leaf {
      width: 201px;
    }
    &--water {
      width: 225px;
    }
    &--fork {
      width: 208px;
    }
    &--watch {
      width: 248px;
    }
    &::after {
      width: 80px;
      height: 80px;
    }
  }
}
@media (min-width: $desktop-width) {
  .functionality {
    width: 1440px;
    min-height: 381px;
    border-bottom: none;
    padding-left: 110px;
  }
  .functionality__list {
    min-height: 228px;
  }
  .functionality__title {
    font-size: 60px;
    padding: 0;
    margin-bottom: 70px;
  }
  .functionality__item {
    width: 320px;
  }
}
