.menu-list {
  padding: 0;
}
.menu-list__item {
  color: #111111;
  font-family: 'Oswald', serif;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}
