.menu-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.menu-list__item {
  min-height: 65px;
  box-sizing: border-box;
  color: #111111;
  font-family: 'Oswald', "Arial", sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid #f2f2f2;
  padding-top: 23px;
  width: 100%;
  margin-bottom: 1px;
}
.menu-list__link {
  text-decoration: none;
  color: #111111;
}
.menu-list__item:hover {
  opacity: 60%
}
.menu-list__item:active {
  opacity: 30%;
}
@media (min-width: $tablet-width) {
  .menu-list__item {
    min-height: 0;
    color: #222222;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: left;
    border-top: none;
    width: auto;
    padding-top: 0;
    padding-bottom: 6px;
    border-bottom: none;
    &--active {
      padding-top: 4px;
      padding-bottom: 7px;
      border-bottom: 2px solid #68b738;
    }
  }
  .menu-list {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    border: none;
  }
}
@media (min-width: $desktop-width) {
  .menu-list__item {
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;
    padding-bottom: 16px;
    padding-top: 16px;
    &--active {
      padding-top: 10px;
      padding-bottom: 8px;
    }
    &--active-white {
      padding-bottom: 8px;
      padding-top: 10px;
      border-bottom: 2px solid #ffffff;
    }
  }
  .menu-list__link--white {
    text-decoration: none;
    color: #ffffff;
  }
}
