.menu-list {
  padding: 0;
  margin: 0;
}
.menu-list__item {
  color: #111111;
  font-family: 'Oswald', serif;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  border-top: 1px solid #f2f2f2;
  padding-top: 24px;
  padding-bottom: 24px;
}
.menu-list__link {
  text-decoration: none;
  color: #111111;
}
@media (min-width: $tablet-width) {
  .menu-list__item {
    color: #222222;
    font-family: 'Oswald', serif;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    text-align: left;
    border-top: none;
  }
  .menu-list {
    width: 469px;
  }
}
@media (min-width: $desktop-width) {
  .menu-list__item {
    color: #222222;
    font-family: 'Oswald', serif;
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;
    text-align: left;
    border-top: none;
  }
  .menu-list {
    width: 587px;
  }
}
