.page-header {
  width: 100%;
  min-height: 65px;
  background-color: white;
}
.page-header__wrapper-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 65px;
  margin-right: 6.9%;
  margin-left: 6.25%;
}
.page-header__wrapper-logo:hover {
  opacity: 80%;
}
.page-header__wrapper-logo:active {
  opacity: 60%;
}
.page-header__logo-image {
  width: 191px;
  height: 39px;
  margin-top: -10px;
}
.page-header__toggle {
  width: 19px;
  height: 19px;
  background-color: transparent;
  background-image: url("../img/icon-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 0;
  padding: 0;
}
.page-header__toggle:checked .main-nav__list {
  display: none;
}
@media (min-width: $tablet-width) {
  .page-header {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 26px;
    min-height: 59px;
    padding-right: 4%;
    padding-left: 3.8%;
  }
  .page-header__wrapper-logo {
    box-sizing: border-box;
    width: 25%;
    min-height: 61px;
    margin: 0;
  }
  .page-header__logo-image {
    width: 174px;
    height: 59px;
    margin-top: -5px;
  }
  .page-header__toggle {
    display: none;
    width: 0;
    height: 0;
  }
}
@media (min-width: $desktop-width) {
  .page-header {
    width: 1300px;
    padding-left: 39px;
    padding-right: 40px;
    padding-top: 55px;
    margin: 0 auto;
    &--main {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 10;
      background: transparent;
    }
  }
  .page-header__wrapper-logo {
    width: 203px;
    height: 60px;
  }
  .page-header__logo-image {
    width: 203px;
    height: 60px;
  }
  .page-header__toggle {
    display: none;
  }
}
