.product-item {
  width: 280px;
  height: 210px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-item__wrap {
  display: flex;
  align-items: center;
}
.product-item__image--chicken-small {
  width: 140px;
  height: 144px;
}
.product-item__image--chicken-big {
  width: 140px;
  height: 144px;
}
.product-item__image--fish-small {
  width: 140px;
  height: 144px;
}
.product-item__image--fish-big {
  width: 140px;
  height: 144px;
}
.product-item__image--buckwheat-small {
  width: 140px;
  height: 144px;
}
.product-item__image--buckwheat-big {
  width: 140px;
  height: 144px;
}
.product-item__image--rice-small {
  width: 140px;
  height: 144px;
}
@media (min-width: $tablet-width) {
  .product-item {
    width: 324px;
    height: 431px;
    background: #f2f2f2;
    margin-bottom: 140px;
  }
  .product-item__wrap {
    width: 324px;
    height: 351px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .product-item__image--chicken-small {
    margin-top: -46px;
    width: 324px;
    height: 172px;
  }
  .product-item__image--chicken-big {
    margin-top: -82px;
    width: 324px;
    height: 208px;
  }
  .product-item__image--fish-small {
    margin-top: -48px;
    width: 324px;
    height: 174px;
  }
  .product-item__image--fish-big {
    margin-top: -82px;
    width: 324px;
    height: 208px;
  }
  .product-item__image--buckwheat-small {
    margin-top: -45px;
    width: 324px;
    height: 171px;
  }
  .product-item__image--buckwheat-big {
    margin-top: -82px;
    width: 324px;
    height: 208px;
  }
  .product-item__image--rice-small {
    margin-top: -48px;
    width: 324px;
    height: 174px;
  }
}
@media (min-width: $desktop-width) {
  .product-item {
    width: 245px;
    height: 431px;
    background: #f2f2f2;
    margin-bottom: 142px;
  }
  .product-item__wrap {
    width: 245px;
    height: 351px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .product-item__image--chicken-small {
    margin-top: -45px;
    width: 245px;
    height: 172px;
  }
  .product-item__image--chicken-big {
    margin-top: -81px;
    width: 245px;
    height: 208px;
  }
  .product-item__image--fish-small {
    margin-top: -46px;
    width: 245px;
    height: 174px;
  }
  .product-item__image--fish-big {
    margin-top: -81px;
    width: 245px;
    height: 208px;
  }
  .product-item__image--buckwheat-small {
    margin-top: -45px;
    width: 245px;
    height: 171px;
  }
  .product-item__image--buckwheat-big {
    margin-top: -82px;
    width: 245px;
    height: 208px;
  }
  .product-item__image--rice-small {
    margin-top: -46px;
    width: 245px;
    height: 174px;
  }
}
