.product-description {
  width: 100%;
  height: 100px;
  margin-top: -1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.product-description__title {
  font-family: 'Oswald', serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  color: #111111;
  text-transform: uppercase;
  width: 57%;
}
.product-description__detail {
  width: 100%;
  height: 44px;
  border-collapse: collapse;
}
.product-description__field {
  font-family: 'Arial', sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: left;
  color: #444444;
  margin: 0;
}
.product-description__value {
  font-family: 'Arial', sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
  color: #444444;
  margin: 0;
}
@media (min-width: $tablet-width) {
  .product-description {
    width: 249px;
    height: 155px;
    padding-top: 38px;
    align-items: center;
  }
  .product-description__title {
    font-size: 20px;
    text-align: center;
    width: 144px;
  }
  .product-description__detail {
    padding-top: 28px;
    width: 249px;
  }
  .product-description__field {
    font-size: 16px;
    text-align: left;
    height: 29px;
    border-bottom: 1px solid #cdcdcd;
  }
  .product-description__value {
    font-size: 16px;
    text-align: right;
    height: 29px;
    border-bottom: 1px solid #cdcdcd;
  }
}
@media (min-width: $desktop-width) {
  .product-description {
    width: 161px;
    height: 152px;
    padding-top: 38px;
  }
  .product-description__detail {
    padding-top: 28px;
    width: 168px;
  }
  .product-description__title {
    font-size: 20px;
    text-align: center;
    width: 138px;
  }
  .product-description__field {
    font-size: 16px;
    text-align: left;
    height: 29px;
  }
  .product-description__value {
    font-size: 16px;
    text-align: right;
    height: 29px;
  }
}
