.product-item {
  box-sizing: border-box;
  width: 100%;
  padding-left: 6.25%;
  padding-right: 6.25%;
  min-height: 209px;
  border-top: 1px solid #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.product-item__wrap {
  display: flex;
  align-items: center;
  max-height: 144px;
  width: 100%;
}
.product-item__image {
  width: 140px;
  height: 144px;
  display: block;
}
@media (min-width: $tablet-width) {
  .product-item {
    width: 324px;
    min-height: 431px;
    padding: 0;
    background: #f2f2f2;
    margin-top: 140px;
  }
  .product-item__wrap {
    width: 100%;
    min-height: 351px;
    max-height: 351px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .product-item__image--chicken-small {
    margin-top: -47px;
    width: 324px;
    height: 172px;
  }
  .product-item__image--chicken-big {
    margin-top: -83px;
    width: 324px;
    height: 208px;
  }
  .product-item__image--fish-small {
    margin-top: -49px;
    width: 324px;
    height: 174px;
  }
  .product-item__image--fish-big {
    margin-top: -83px;
    width: 324px;
    height: 208px;
  }
  .product-item__image--buckwheat-small {
    margin-top: -46px;
    width: 324px;
    height: 171px;
  }
  .product-item__image--buckwheat-big {
    margin-top: -83px;
    width: 324px;
    height: 208px;
  }
  .product-item__image--rice-small {
    margin-top: -49px;
    width: 324px;
    height: 174px;
  }
}
@media (min-width: $desktop-width) {
  .product-item {
    width: 245px;
    min-height: 432px;
    background: #f2f2f2;
    margin-top: 142px;
  }
  .product-item__wrap {
    width: 245px;
    min-height: 351px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .product-item__image--chicken-small {
    margin-top: -46px;
    width: 245px;
    height: 172px;
  }
  .product-item__image--chicken-big {
    margin-top: -82px;
    width: 245px;
    height: 208px;
  }
  .product-item__image--fish-small {
    margin-top: -47px;
    width: 245px;
    height: 174px;
  }
  .product-item__image--fish-big {
    margin-top: -82px;
    width: 245px;
    height: 208px;
  }
  .product-item__image--buckwheat-small {
    margin-top: -49px;
    width: 245px;
    height: 175px;
  }
  .product-item__image--buckwheat-big {
    margin-top: -84px;
    width: 245px;
    height: 210px;
  }
  .product-item__image--rice-small {
    margin-top: -46px;
    width: 245px;
    height: 174px;
  }
}
