.programs-pro {
  box-sizing: border-box;
  position: relative;
  margin-top: 20px;
  width: 280px;
  padding-left: 20px;
  padding-right: 20px;
  height: 266px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.programs-pro__title {
  font-family: 'Oswald', serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  text-align: left;
  color: #111111;
  text-transform: uppercase;
  margin: 0;
  padding-top: 30px;
  padding-left: 70px;
  &::before {
    content: " ";
    position: absolute;
    top: 24px;
    left: 22px;
    width: 50px;
    height: 50px;
    background-color: #68b738;
    border-radius: 50%;
  }
  &::after {
    content: " ";
    position: absolute;
    top: 35px;
    left: 13px;
    width: 67px;
    height: 28px;
    background: url("../img/icon-cat-pro.svg") no-repeat center;
  }
}
.programs-pro__description {
  font-family: 'Arial', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  color: #444444;
  margin: 0;
  padding-bottom: 22px;
  padding-top: 10px;
  width: 240px;
  border-bottom: 1px solid #cdcdcd;
}
.programs-pro__catalog {
  font-family: 'Oswald', serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  color: #111111;
  text-transform: uppercase;
  margin-bottom: 21px;
  text-decoration: none;
  &::before {
    content: " ";
    position: absolute;
    top: 237px;
    left: 116px;
    width: 18px;
    height: 2px;
    background-color: #111111;
  }
  &::after {
    content: " ";
    position: absolute;
    top: 233px;
    left: 134px;
    border: 5.5px solid transparent;
    border-left-color: #111111;
  }
}
@media (min-width: $tablet-width) {
  .programs-pro {
    width: 708px;
    height: 372px;
    margin-top: 30px;
    padding-left: 52px;
  }
  .programs-pro__title {
    font-size: 36px;
    padding-top: 78px;
    padding-left: 3px;
    &::before {
      top: 91px;
      left: 448px;
      width: 200px;
      height: 200px;
    }
    &::after {
      top: 135px;
      left: 412px;
      width: 268px;
      height: 113px;
    }
  }
  .programs-pro__description {
    font-size: 16px;
    line-height: 24px;
    padding-top: 0;
    padding-bottom: 0;
    width: 340px;
    border: none;
    margin-bottom: 33px;
  }
  .programs-pro__catalog {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 62px;
    &::before {
      top: 298px;
      left: 176px;
      width: 19px;
    }
    &::after {
      top: 294px;
      left: 195px;
    }
  }
}
@media (min-width: $desktop-width) {
  .programs-pro {
    width: 570px;
    margin-top: 0;
    padding-right: 0;
  }
  .programs-pro__title {
    font-size: 36px;
    padding-top: 78px;
    padding-left: 164px;
    &::before {
      top: 47px;
      left: 52px;
      width: 100px;
      height: 100px;
    }
    &::after {
      top: 69px;
      left: 34px;
      width: 134px;
      height: 57px;
    }
  }
  .programs-pro__description {
    font-size: 16px;
    line-height: 24px;
    width: 450px;
    margin-bottom: 0;
    margin-top: 40px;
  }
  .programs-pro__catalog {
    font-size: 20px;
    line-height: 20px;
    padding-left: 1px;
    &::before {
      left: 178px;
      width: 19px;
      height: 3px;
    }
    &::after {
      left: 197px;
    }
  }
}
