.programs-slim {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  height: 266px;
}
.programs-slim__title {
  font-family: 'Oswald', serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  text-align: left;
  padding: 32px 60px 0 72px;
  color: #111111;
  text-transform: uppercase;
  margin: 0;
  &::before {
    content: " ";
    position: absolute;
    top: 24px;
    left: 22px;
    width: 50px;
    height: 51px;
    background-color: #68b738;
    border-radius: 50%;
  }
  &::after {
    content: " ";
    position: absolute;
    top: 22px;
    left: 30px;
    width: 35px;
    height: 49px;
    background: url("../img/icon-cat-slim.svg") no-repeat center;
  }
}
.programs-slim__description {
  font-family: 'Arial', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  color: #444444;
  margin: 0;
  padding: 32px 14px 21px 1px;
}
.programs-slim__catalog {
  font-family: 'Oswald', serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  color: #111111;
  text-transform: uppercase;
  margin: 0;
  padding-top: 19px;
  padding-bottom: 22px;
  border-top: 1px solid #cdcdcd;
  &::before {
    content: " ";
    position: absolute;
    top: 239px;
    left: 118px;
    width: 18px;
    height: 2px;
    background-color: #111111;
  }
  &::after {
    content: " ";
    position: absolute;
    top: 235px;
    left: 136px;
    border: 5px solid transparent;
    border-left-color: #111111;
  }
}
@media (min-width: $tablet-width) {
  .programs-slim {
    width: 708px;
    height: 372px;
    padding: 0;
  }
  .programs-slim__title {
    font-size: 36px;
    padding: 81px 492px 0 55px;
    &::before {
      top: 95px;
      left: 424px;
      width: 200px;
      height: 200px;
    }
    &::after {
      top: 86px;
      left: 446px;
      width: 141px;
      height: 194px;
    }
  }
  .programs-slim__description {
    font-size: 16px;
    line-height: 24px;
    padding: 31px 316px 0 52px;
  }
  .programs-slim__catalog {
    font-size: 20px;
    line-height: 20px;
    padding-left: 53px;
    padding-top: 61px;
    padding-bottom: 62px;
    border: none;
    &::before {
      top: 316px;
      left: 178px;
      width: 18px;
    }
    &::after {
      top: 312px;
      left: 196px;
    }
  }
}
@media (min-width: $desktop-width) {
  .programs-slim__title {
    font-size: 36px;
    padding: 81px 193px 0 216px;
    &::before {
      top: 47px;
      left: 52px;
      width: 100px;
      height: 100px;
    }
    &::after {
      top: 41px;
      left: 65px;
      width: 71px;
      height: 97px;
    }
  }
  .programs-slim__description {
    font-size: 16px;
    line-height: 24px;
    padding: 75px 46px 0 52px;
  }
  .programs-slim__catalog {
    font-size: 20px;
    line-height: 20px;
    padding-left: 53px;
    padding-top: 36px;
    padding-bottom: 62px;
    &::before {
      width: 20px;
      top: 310px;
      left: 184px;
    }
    &::after {
      top: 306px;
      left: 204px;
    }
  }
  .programs-slim {
    margin-right: 80px;
    width: 570px;
  }
}
