.programs {
  width: 100%;
  height: 552px;
}
.programs__list {
  list-style: none;
  padding-left: 6.25%;
  padding-right: 6.25%;
  height: 552px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin: 0;
}
.programs__item {
  background-color: #f2f2f2;
}
@media (min-width: $tablet-width) {
  .programs {
    width: 708px;
    height: 774px;
    margin-left: 30px;
    margin-bottom: 51px;
  }
  .programs__list {
    padding: 0;
    height: 774px;
  }
}
@media (min-width: $desktop-width) {
  .programs {
    width: 1220px;
    margin-left: 110px;
    margin-top: 80px;
    height: 372px;
    margin-bottom: 72px;
  }
  .programs__list {
    padding: 0;
    flex-direction: row;
    height: 372px;
  }
}
