.programs-pro {
  position: relative;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  height: 266px;
}
.programs-pro__title {
  font-family: 'Oswald', serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  text-align: left;
  color: #111111;
  text-transform: uppercase;
  margin: 0;
  padding: 32px 24px 0 72px;
  &::before {
    content: " ";
    position: absolute;
    top: 24px;
    left: 22px;
    width: 50px;
    height: 50px;
    background-color: #68b738;
    border-radius: 50%;
  }
  &::after {
    content: " ";
    position: absolute;
    top: 35px;
    left: 13px;
    width: 67px;
    height: 28px;
    background: url("../img/icon-cat-pro.svg") no-repeat center;
  }
}
.programs-pro__description {
  font-family: 'Arial', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  color: #444444;
  margin: 0;
  padding: 30px 39px 22px 0;
}
.programs-pro__catalog {
  font-family: 'Oswald', serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  color: #111111;
  text-transform: uppercase;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #cdcdcd;
  &::before {
    content: " ";
    position: absolute;
    top: 238px;
    left: 117px;
    width: 18px;
    height: 2px;
    background-color: #111111;
  }
  &::after {
    content: " ";
    position: absolute;
    top: 234px;
    left: 135px;
    border: 5px solid transparent;
    border-left-color: #111111;
  }
}
@media (min-width: $tablet-width) {
  .programs-pro {
    width: 708px;
    height: 372px;
    margin-top: 30px;
    padding: 0;
  }
  .programs-pro__title {
    font-size: 36px;
    padding: 81px 380px 0 55px;
    &::before {
      top: 95px;
      left: 450px;
      width: 200px;
      height: 200px;
    }
    &::after {
      top: 134px;
      left: 412px;
      width: 268px;
      height: 113px;
    }
  }
  .programs-pro__description {
    font-size: 16px;
    line-height: 24px;
    padding: 31px 316px 0 52px;
  }
  .programs-pro__catalog {
    font-size: 20px;
    line-height: 20px;
    padding-left: 53px;
    padding-top: 61px;
    padding-bottom: 62px;
    border: none;
    &::before {
      top: 315px;
      left: 171px;
    }
    &::after {
      top: 311px;
      left: 189px;
    }
  }
}
@media (min-width: $desktop-width) {
  .programs-pro {
    width: 708px;
    height: 372px;
    margin-top: 0;
    padding: 0;
  }
  .programs-pro__title {
    font-size: 36px;
    padding: 81px 100px 0 216px;
    &::before {
      top: 47px;
      left: 52px;
      width: 100px;
      height: 100px;
    }
    &::after {
      top: 69px;
      left: 34px;
      width: 134px;
      height: 57px;
    }
  }
  .programs-pro__description {
    font-size: 16px;
    line-height: 24px;
    padding: 75px 46px 0 52px;
  }
  .programs-pro__catalog {
    font-size: 20px;
    line-height: 20px;
    padding-left: 53px;
    padding-top: 36px;
    padding-bottom: 62px;
    &::before {
      width: 20px;
      top: 310px;
      left: 178px;
    }
    &::after {
      top: 306px;
      left: 198px;
    }
  }
  .programs-slim {
    width: 570px;
  }
}
