.programs-slim {
  width: 87.5%;
  padding-left: 6.25%;
  padding-right: 6.25%;
  min-height: 266px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.programs-slim__title {
  position: relative;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  text-align: left;
  color: #111111;
  text-transform: uppercase;
  padding-top: 30px;
  padding-left: 30%;
  margin: 0;

  &::before {
    content: " ";
    position: absolute;
    top: 24px;
    left: 4px;
    width: 50px;
    height: 51px;
    background-color: #68b738;
    border-radius: 50%;
  }

  &::after {
    content: " ";
    position: absolute;
    top: 22px;
    left: 11px;
    width: 35px;
    height: 49px;
    background: url("../img/icon-cat-slim.svg") no-repeat center;
  }
}

.programs-slim__description {
  font-family: "ArialMT", "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  color: #444444;
  margin: 0;
  width: 98%;
  padding-left: 1%;
  padding-bottom: 22px;
  padding-top: 29px;
  border-bottom: 1px solid #cdcdcd;
}

.programs-slim__catalog {
  position: relative;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  color: #111111;
  text-transform: uppercase;
  text-decoration: none;
  padding-left: 0.75%;
  padding-right: 40px;
  padding-top: 19px;

  &::before {
    content: " ";
    position: absolute;
    top: 76%;
    transform: translateY(-50%);
    right: 8px;
    width: 21px;
    height: 2px;
    background-color: #111111;
  }

  &::after {
    content: " ";
    position: absolute;
    top: 76%;
    transform: translateY(-50%);
    right: 0;
    border: 5.5px solid transparent;
    border-left-color: #111111;
  }
}

.programs-slim__catalog:hover {
  padding-right: 48px;
}

.programs-slim__catalog:hover::before {
  width: 29px;
}

.programs-slim__catalog:active {
  opacity: 30%;
}

.programs-slim__catalog:active::before {
  opacity: 30%;
}

.programs-slim__catalog:active::after {
  opacity: 30%;
}

@media (min-width: $tablet-width) {
  .programs-slim {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    min-height: 372px;
    padding-left: 7.3%;
    padding-right: 8%;
  }

  .programs-slim__title {
    position: static;
    font-size: 36px;
    padding-top: 76px;
    padding-left: 0;

    &::before {
      top: 92px;
      left: auto;
      right: 62px;
      width: 200px;
      height: 200px;
    }

    &::after {
      top: 80px;
      left: auto;
      right: 92px;
      width: 141px;
      height: 194px;
    }
  }

  .programs-slim__description {
    font-size: 16px;
    line-height: 24px;
    padding-top: 25px;
    padding-bottom: 0;
    width: 62%;
    border: none;
    padding-left: 0;
  }

  .programs-slim__catalog {
    font-size: 20px;
    line-height: 20px;
    padding-left: 0;
    padding-right: 54px;
    padding-top: 57px;

    &::before {
      top: 86%;
    }

    &::after {
      top: 86%;
    }
  }

  .programs-slim__catalog:hover {
    padding-right: 62px;
  }
}

@media (min-width: $desktop-width) {
  .programs-slim {
    margin-right: 80px;
    width: 570px;
    padding-left: 53px;
    padding-right: 56px;
  }

  .programs-slim__title {
    font-size: 36px;
    padding-top: 76px;
    padding-left: 163px;

    &::before {
      top: 48px;
      left: 53px;
      width: 100px;
      height: 100px;
    }

    &::after {
      top: 42px;
      left: 66px;
      width: 71px;
      height: 97px;
    }
  }

  .programs-slim__description {
    font-size: 16px;
    line-height: 24px;
    width: 462px;
    margin-bottom: 0;
    padding-top: 74px;
  }

  .programs-slim__catalog {
    font-size: 20px;
    line-height: 20px;
    padding-left: 1px;
    padding-right: 53px;
    padding-top: 32px;

    &::before {
      top: 80%;
    }

    &::after {
      top: 80%;
    }
  }

  .programs-slim__catalog:hover {
    padding-right: 61px;
  }
}
