.programs-slim {
  box-sizing: border-box;
  width: 280px;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  height: 266px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.programs-slim__title {
  font-family: 'Oswald', serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  text-align: left;
  color: #111111;
  text-transform: uppercase;
  padding-top: 32px;
  padding-left: 70px;
  margin: 0;
  &::before {
    content: " ";
    position: absolute;
    top: 24px;
    left: 22px;
    width: 50px;
    height: 51px;
    background-color: #68b738;
    border-radius: 50%;
  }
  &::after {
    content: " ";
    position: absolute;
    top: 22px;
    left: 30px;
    width: 35px;
    height: 49px;
    background: url("../img/icon-cat-slim.svg") no-repeat center;
  }
}
.programs-slim__description {
  font-family: 'Arial', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  color: #444444;
  margin-bottom: 0;
  margin-top: 0;
  width: 225px;
  padding-bottom: 22px;
  padding-left: 1px;
  border-bottom: 1px solid #cdcdcd;
}
.programs-slim__catalog {
  font-family: 'Oswald', serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  color: #111111;
  text-transform: uppercase;
  margin-bottom: 22px;
  &::before {
    content: " ";
    position: absolute;
    top: 235px;
    left: 118px;
    width: 18px;
    height: 2px;
    background-color: #111111;
  }
  &::after {
    content: " ";
    position: absolute;
    top: 231px;
    left: 136px;
    border: 5px solid transparent;
    border-left-color: #111111;
  }
}
@media (min-width: $tablet-width) {
  .programs-slim {
    width: 708px;
    height: 372px;
    padding-left: 52px;
    padding-right: 0;
  }
  .programs-slim__title {
    font-size: 36px;
    padding-left: 3px;
    padding-top: 78px;
    &::before {
      top: 92px;
      left: 446px;
      width: 200px;
      height: 200px;
    }
    &::after {
      top: 80px;
      left: 475px;
      width: 141px;
      height: 194px;
    }
  }
  .programs-slim__description {
    font-size: 16px;
    line-height: 24px;
    padding-top: 0;
    padding-bottom: 0;
    width: 373px;
    border: none;
    margin-bottom: 33px;
  }
  .programs-slim__catalog {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 62px;
    &::before {
      top: 299px;
      left: 184px;
      width: 19px;
    }
    &::after {
      top: 295px;
      left: 203px;
    }
  }
}
@media (min-width: $desktop-width) {
  .programs-slim__title {
    font-size: 36px;
    padding-top: 78px;
    padding-left: 164px;
    &::before {
      top: 47px;
      left: 52px;
      width: 100px;
      height: 100px;
    }
    &::after {
      top: 41px;
      left: 65px;
      width: 71px;
      height: 97px;
    }
  }
  .programs-slim__description {
    font-size: 16px;
    line-height: 24px;
    width: 462px;
    margin-bottom: 0;
    margin-top: 15px;
  }
  .programs-slim__catalog {
    font-size: 20px;
    line-height: 20px;
    &::before {
      width: 20px;
      top: 298px;
      left: 184px;
    }
    &::after {
      top: 294px;
      left: 204px;
    }
  }
  .programs-slim {
    margin-right: 80px;
    width: 570px;
  }
}
