.programs-pro {
  margin-top: 20px;
}
.programs-pro__title {
  font-family: 'Oswald', serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  text-align: left;
  color: #111111;
  text-transform: uppercase;
  margin: 0;
  padding: 39px 44px 0 90px;
}
.programs-pro__description {
  font-family: 'Arial', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  color: #444444;
  margin: 0;
  padding: 39px 59px 0 20px;
}
.programs-pro__catalog {
  font-family: 'Oswald', serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  color: #111111;
  text-transform: uppercase;
  margin: 0;
  padding-left: 20px;
  padding-top: 45px;
  padding-bottom: 22px;
}
@media (min-width: $tablet-width) {
  .programs-pro__title {
    font-size: 36px;
    padding: 81px 380px 0 55px;
  }
  .programs-pro__description {
    font-size: 16px;
    line-height: 24px;
    padding: 31px 316px 0 52px;
  }
  .programs-pro__catalog {
    font-size: 20px;
    line-height: 20px;
    padding-left: 53px;
    padding-top: 61px;
    padding-bottom: 62px;
  }
}
@media (min-width: $desktop-width) {
  .programs-pro__title {
    font-size: 36px;
    padding: 81px 100px 0 216px;
  }
  .programs-pro__description {
    font-size: 16px;
    line-height: 24px;
    padding: 75px 46px 0 52px;
  }
  .programs-pro__catalog {
    font-size: 20px;
    line-height: 20px;
    padding-left: 53px;
    padding-top: 36px;
    padding-bottom: 62px;
  }
  .programs-slim {
    width: 570px;
  }
}
