.related-field {
  height: 244px;
  border: none;
  padding-left: 5.7%;
  margin: 0;
  position: relative;
}
.related-field__title {
  padding-top: 16px;
  &::after {
    content: " ";
    position: absolute;
    top: 30px;
    right: 0;
    width: 136px;
    height: 3px;
    background-color: #68b738;
  }
}
.related-field__wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-top: 35px;
  padding-left: 0.7%;
}
.related-field__label {
  padding-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.related-field__label:first-of-type {
  padding-bottom: 13px;
}
.related-field__input {
  display: none;
}
.related-field__checkbox {
  display: inline-block;
  width: 28px;
  height: 28px;
  margin-right: 16px;
  border: 1px solid #cdcdcd;
}
.related-field__checkbox:hover {
  border: 1px solid #bababa;
}
.related-field__checkbox:active {
  opacity: 30%;
}
.related-field__label:active {
  opacity: 30%;
}
input[type="checkbox"]:checked + .related-field__checkbox::before {
  content: " ";
  height: 17px;
  width: 22px;
  background: url("../img/icon-tick.svg") no-repeat center;
  position: absolute;
  top: 6px;
  left: 5px;
}
@media (min-width: $tablet-width) {
  .related-field__title {
    padding-top: 65px;
    padding-left: 0;
    margin-left: -2px;
    &::after {
      top: 87px;
      right: -67px;
      width: 445px;
    }
    &::before {
      content: " ";
      position: absolute;
      top: 87px;
      left: -72px;
      width: 31px;
      height: 3px;
      background-color: #68b738;
    }
  }
  .related-field {
    height: 270px;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
  }
  .related-field__wrap {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 57px;
    padding-left: 0;
    margin-left: -1px;
    height: 112px;
    width: 92.7%;
  }
  .related-field__label {
    width: 41%;
    padding-bottom: 32px;
  }
  .related-field__label:first-of-type {
    padding-bottom: 32px;
  }
  .related-field__checkbox {
    width: 38px;
    height: 38px;
    margin-right: 19px;
  }
  input[type="checkbox"]:checked + .related-field__checkbox::before {
    height: 16px;
    width: 21px;
    top: 12px;
    left: 10px;
  }
}
@media (min-width: $desktop-width) {
  .related-field__title {
    padding-top: 67px;
    padding-bottom: 57px;
    &::after {
      top: 89px;
      right: -70px;
      width: 1118px;
    }
    &::before {
      top: 89px;
      left: -111px;
      width: 70px;
    }
  }
  .related-field {
    height: 200px;
    padding-left: 0;
  }
  .related-field__wrap {
    padding-top: 0;
    height: 40px;
    width: 1300px;
  }
  .related-field__label {
    width: 325px;
    padding-bottom: 0;
  }
  input[type="checkbox"]:checked + .related-field__checkbox::before {
    height: 17px;
    width: 22px;
    top: 12px;
    left: 10px;
  }
}
