.related-products {
  position: relative;
  box-sizing: border-box;
  padding-left: 6.25%;
  padding-right: 6.25%;
  margin-bottom: 35px;
  width: 100%;
}
.related-products__title {
  font-family: 'Oswald', "Arial", sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 1;
  text-align: left;
  color: #111111;
  margin: 0;
  padding-top: 28px;
  padding-bottom: 18px;
  &::after {
    content: " ";
    position: absolute;
    top: 42px;
    right: 0;
    width: 53px;
    height: 3px;
    background-color: #68b738;
  }
}
@media (min-width: $tablet-width) {
  .related-products {
    padding-left: 3.9%;
    padding-right: 3.9%;
    margin-bottom: 76px;
  }
  .related-products__title {
    font-size: 36px;
    padding-top: 0;
    padding-bottom: 80px;
    padding-left: 5.2%;
    &::after {
      top: 22px;
      right: 0;
      width: 327px;
    }
    &::before {
      content: " ";
      position: absolute;
      top: 22px;
      left: 0;
      width: 28px;
      height: 3px;
      background-color: #68b738;
    }
  }
  @media (min-width: $desktop-width) {
    .related-products {
      width: 1300px;
      padding-left: 39px;
      padding-right: 40px;
      padding-bottom: 86px;
      margin: 0 auto;
    }
    .related-products__title {
      padding-bottom: 80px;
      padding-left: 0;
      &::after {
        top: 22px;
        width: 956px;
        right: -70px;
      }
      &::before {
        top: 22px;
        width: 70px;
        left: -70px;
      }
    }
    .related-products__wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 1220px;
      margin-left: 1px;
    }
  }
}
