.related-products {
  position: relative;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 35px;
}
.related-products__title {
  font-family: 'Oswald', serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 1;
  text-align: left;
  color: #111111;
  margin: 0;
  padding-top: 28px;
  padding-bottom: 18px;
  &::after {
    content: " ";
    position: absolute;
    top: 42px;
    right: 0;
    width: 53px;
    height: 3px;
    background-color: #68b738;
  }
}
@media (min-width: $tablet-width) {
  .related-products {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 76px;
  }
  .related-products__title {
    font-size: 36px;
    padding-top: 0;
    padding-bottom: 75px;
    padding-left: 37px;
    &::after {
      top: 20px;
      right: 0;
      width: 335px;
    }
    &::before {
      content: " ";
      position: absolute;
      top: 20px;
      left: 0;
      width: 29px;
      height: 3px;
      background-color: #68b738;
    }
  }
  @media (min-width: $desktop-width) {
    .related-products {
      padding-left: 109px;
      padding-right: 110px;
      margin-bottom: 86px;
    }
    .related-products__title {
      padding-bottom: 75px;
      padding-left: 0;
      &::after {
        top: 20px;
        width: 930px;
      }
      &::before {
        top: 20px;
        width: 80px;
      }
    }
    .related-products__wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
  }
}
