.results {
  width: 320px;
  background-color: #f2f2f2;
}
.results__title {
  font-family: 'Oswald', serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 60px;
  text-align: left;
  color: #111111;
  margin: 0;
  padding-left: 20px;
  padding-top: 33px;
}
.results__description {
  font-family: 'Arial', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  color: #444444;
  margin: 0;
  padding: 33px 34px 0 20px;
}
.results__wrapper-results {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  margin-left: 20px;
}
.results__sum {
  padding-top: 44px;
}
.results__kg,
.results__days {
  font-family: 'Oswald', serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #111111;
  margin: 0;
}
.results__weight-loss,
.results__time-spent {
  font-family: 'Arial', sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #444444;
  margin: 0;
  padding-top: 12px;
}
.results__money-spent {
  font-family: 'Oswald', serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #111111;
  margin: 0;
  padding-top: 25px;
}
.results__cat-image {
  padding-top: 44px;
  padding-right: 9px;
}
.results__wrapper-before-after {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 197px;
  margin-left: 64px;
  padding-top: 35px;
  padding-bottom: 38px;
}
.results__before,
.results__after {
  font-family: 'Oswald', serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  margin: 0;
}
.results__before {
  text-align: left;
}
.results__after {
  text-align: right;
}
