.results {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  min-height: 705px;
  background-color: #f2f2f2;
}
.results__wrapper {
  height: 282px;
  padding-left: 6.25%;
  padding-right: 6.25%;
  padding-top: 23px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.results__title {
  font-family: 'Oswald', serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 60px;
  text-align: left;
  color: #111111;
  margin: 0;
  padding-top: 18px;
  padding-left: 6.25%;
}
.results__description {
  font-family: 'Arial', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  color: #444444;
  margin: 0;
}
.results__wrapper-results {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.results__sum {
  padding-top: 27px;
  height: 94px;
}
.results__kg,
.results__days {
  font-family: 'Oswald', serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #111111;
  margin: 0;
  width: 124px;
  height: 39px;
  outline: 1px solid #cdcdcd;
  padding-top: 17px;
}
.results__weight-loss,
.results__time-spent {
  font-family: 'Arial', sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  color: #444444;
  padding-left: 16px;
  padding-right: 17px;
  margin-top: -6px;
  margin-bottom: 0;
  width: 87px;
  height: 23px;
}
.results__money-spent {
  font-family: 'Oswald', serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #111111;
  margin: 0;
}
.results__image-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.results__cat-image {
  height: 232px;
  width: 311px;
  padding-right: 9px;
}
.results__wrapper-before-after {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 197px;
  margin-top: 35px;
}
.results__before,
.results__after {
  font-family: 'Oswald', serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
  margin: 0;
}
.results__before {
  text-align: left;
}
.results__after {
  text-align: right;
}
@media (min-width: $tablet-width) {
  .results {
    width: 768px;
    min-height: 1081px;
    background-color: #ffffff;
  }
  .results__wrapper {
    min-height: 278px;
    width: 768px;
    padding-left: 30px;
    padding-top: 64px;
  }
  .results__title {
    font-size: 60px;
    padding-left: 30px;
    padding-top: 51px;
  }
  .results__description {
    font-size: 16px;
    line-height: 24px;
    width: 674px;
  }
  .results__wrap {
    width: 707px;
    min-height: 78px;
    padding-top: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .results__money-spent {
    font-size: 20px;
    line-height: 20px;
    text-align: right;
    width: 174px;
  }
  .results__wrapper-results {
    width: 366px;
    margin-left: 0;
  }
  .results__sum {
    padding-top: 0;
    height: 74px;
  }
  .results__kg,
  .results__days {
    font-size: 30px;
    line-height: 37px;
    width: 162px;
    height: 50px;
    padding-top: 22px;
    text-transform: uppercase;
  }
  .results__weight-loss,
  .results__time-spent {
    font-size: 14px;
    padding: 0;
    margin-top: -6px;
    margin-bottom: 0;
    width: 162px;
  }
  .results__image-wrap {
    width: 768px;
    height: 462px;
    margin-top: 249px;
    background-color: #f2f2f2;

  }
  .results__wrapper-before-after {
    width: 533px;
    height: 93px;
    padding-top: 21px;
  }
  .results__cat-image {
    height: 517px;
    width: 338px;
    padding-right: 0;
    margin-top: -169px;
  }
  .results__before,
  .results__after {
    font-size: 20px;
  }
}
@media (min-width: $desktop-width) {
  .results {
    width: 1440px;
    min-height: 652px;
    background-color: #ffffff;
  }
  .results__wrapper-desktop {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 462px;
    margin-top: 66px;
    background-color: #f2f2f2;
  }
  .results__wrapper {
    box-sizing: border-box;
    width: 680px;
    padding-left: 111px;
    padding-top: 76px;
  }
  .results__title {
    padding-left: 110px;
    padding-top: 63px;
  }
  .results__description {
    width: 430px;
  }
  .results__wrap {
    width: 366px;
    padding-top: 71px;
    height: 156px;
    flex-direction: column;
    align-items: flex-start;
  }
  .results__money-spent {
    text-align: left;
    width: 326px;
  }
  .results__image-wrap {
    width: 768px;
    margin: 0;
  }
  .results__wrapper-before-after {
    width: 533px;
    height: 93px;
    margin-left: 99px;
    padding-top: 42px;
    padding-bottom: 0;
  }
  .results__cat-image {
    height: 517px;
    padding-right: 0;
    margin-top: -190px;
  }
}
