.view-more {
  box-sizing: border-box;
  border-bottom: 1px solid #f2f2f2;
  border-top: 1px solid #f2f2f2;
  width: 320px;
  height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.view-more__icon-plus {
  width: 31px;
  height: 31px;
  margin-top: 2px;
}
.view-more__products {
  font-family: 'Oswald', serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #111111;
  text-transform: uppercase;
  padding-top: 22px;
  margin: 0;
}
.view-more__flavours {
  font-family: 'Arial', sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #444444;
  margin: 0;
  padding-top: 8px;
}
.view-more__button {
  display: block;
  margin-top: 20px;
  text-decoration: none;
  background-color: #f2f2f2;
  color: #444444;
  font-family: 'Oswald', serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 92px 10px 95px;
}
@media (min-width: $tablet-width) {
  .view-more {
    border: 1px solid #f2f2f2;
    width: 322px;
    height: 430px;
  }
  .view-more__icon-plus {
    width: 61px;
    height: 61px;
  }
  .view-more__products {
    font-size: 20px;
    padding-top: 50px;
    width: 143px;
  }
  .view-more__flavours {
    font-size: 16px;
    margin: 0;
    width: 175px;
    padding-top: 28px;
  }
  .view-more__button {
    margin-top: 85px;
    padding: 13px 79px 12px 81px;
  }
}
@media (min-width: $desktop-width) {
  .view-more {
    width: 243px;
  }
  .view-more__button {
    padding: 13px 39px 12px 41px;
  }
}
