.view-more {
  border: 1px solid #f2f2f2;
  width: 320px;
}
.view-more__products {
  font-family: 'Oswald', serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #111111;
  text-transform: uppercase;
  padding-top: 83px;
  margin: 0;
}
.view-more__flavours {
  font-family: 'Arial', sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #444444;
  margin: 0;
  padding-top: 11px;
  padding-bottom: 35px;
}
.view-more__link {
  text-decoration: none;
  background-color: #f2f2f2;
  color: #444444;
  font-family: 'Oswald', serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  padding: 13px 94px 12px 97px;
  margin-left: 20px;
  margin-bottom: 22px;
}
